@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgb(0,0,0,0.1);
    --border: 0.2rem solid rgb(113, 113, 113);
    /* --outline: 0.1rem solid rgb(222, 117, 117); */
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-color: #eee;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i {
    color: var(--green);
    margin-right: 0.5rem;
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    font-weight: bolder;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--green);
}

.header .icons div {
    /* border: 1px solid; */
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background-color: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: 0.3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover {
    background-color: var(--green);
    color: white;
}

#menu-btn {
    display: none;
}

.header .search-form {
    /* border: 1px solid; */
    position: absolute;
    top: 110%;
    /* right: 2rem; */
    right: -110%;
    width: 50rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow)
}

/* From JavaScript */
.header .search-form.active {
    right: 2rem;
    transition: 0.4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--green);
}

.header .shopping-cart {
    border: 1px solid;
    position: absolute;
    top: 110%;
    /* right: 2rem; */
    right: -110%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background-color: white;
}

/* From JavaScript */
.header .shopping-cart.active {
    right: 2rem;
    transition: 0.4s linear;
}

.header .shopping-cart .box {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--green);
}

.header .shopping-cart .box .content h3 {
    column-rule: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-align: center;
    color: var(--black);
}

.btn {
    border: 0.2px solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn.btn:hover {
    background-color: var(--green);
    color: #fff;
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem 0;
}

.header .login-form {
    /* border: 1px solid; */
    position: absolute;
    top: 110%;
    /* right: 2rem; */
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 0.5rem;
    background: #fff;
    text-align: center;
    width: 35rem;
}

/* From JavaScript */
.header .login-form.active{

    right: 2rem;
    transition: 0.4s linear;
}

.header .login-form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box {
    /* border: 1px solid; */
    margin: 0.7rem;
    background-color: #eee;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    width: 100%;
}

.header .login-form p{
    font-size: 1.4rem;
    padding: 0.5rem 0;
    color: var(--light-color);
}

.header .login-form p a{
    color: var(--green);
    text-decoration: underline;
}

/* From JavaScript */
.header .navbar.active{
    right: 2rem;
    transition: 0.4s linear;
}






/* CSS code for Banner */
section{
    padding: 2rem 9%;
}

.home{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    background: url(../image/banner-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content{
    /* border: 1px solid; */
    text-align: center;
    width: 60rem;
}

.home .content h3{
    color: var(--black);
    font-size: 3rem;
}

.home .content h3 span{
    color: var(--green);
}

.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.heading{
    text-align: center;
    margin: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span{
    background-color: var(--green);
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}






/* Our Features Section  */
.features .box-container{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box{
    /* border: 2px solid red; */
    padding: 3rem 2rem;
    background-color: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover{
    box-shadow: 1px 1px 10px 5px var(--green);
}

.features .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--border ) ;
}

.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color) ;
    padding: 1rem 0;
}
/* Our Features Section  */






/* Our Products Section  */
.products .product-slider{
    /* border: 1px solid; */
    padding: 1rem;
}

.products .product-slider:first-child{
    margin-bottom: 2rem;
}

.products .product-slider-box{
    /* border: 1px solid red; */
    background-color: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s liner;
}

.products .product-slider-box:hover{
    box-shadow: 1px 1px 10px 5px var(--green);
}

.products .product-slider-box img{
    height: 20rem;
}

.products .product-slider-box h1{
    font-size: 2.5rem;
    color: var(--black);
}

.products .product-slider-box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: 0.5rem 0;
}

.products .product-slider-box .stars i{
    font-size: 1.7rem;
    color: orangered;
    padding: 0.5rem 0;
}
/* Our Products Section  */






/* Our Categories Section  */
.categories .box-container{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box{
    /* border: 1px solid; */
    padding: 3rem 0;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover{
    box-shadow: 1px 1px 10px 5px var(--green);
}

.categories .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categories .box-container .box p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}









/* Our Cutomer's Review Section */
.review .swiper-review-slider{
    /* border: 1px solid; */
    padding: 1rem;
}

.review .swiper-review-slider .swiper-slide-box{
    /* border: 1px solid red; */
    background-color: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s liner;
    margin-left: 2rem;
}

.review .swiper-review-slider .swiper-slide-box:hover{
    box-shadow: 1px 1px 10px 5px var(--green);
}

.review .swiper-review-slider .swiper-slide-box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .swiper-review-slider .swiper-slide-box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .swiper-review-slider .swiper-slide-box h1{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.review .swiper-review-slider .swiper-slide-box .stars i{
    font-size: 1.7rem;
    color: orangered;
}








/* Our Blogs Section  */
.blogs .box-container{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box{
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.blogs .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box .content{
    /* border: 1px solid; */
    padding: 2rem;
}

.blogs .box-container .box .content .icons{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a{
    color: var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover{
    color: var(--black);
}

.blogs .box-container .box .content .icons a i{
    color: var(--green);
    padding-right: 0.5rem;
}

.blogs .box-container .box .content h3{
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem;
    padding: 0.5rem 0;
}

.blogs .box-container .box .content p{
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 0.5rem 0;
}








/* Our Footer Section */
.footer{
    background-color: #fff;
}

.footer .box-container{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box i{
    color: var(--green);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i{
    color: var(--green);
    padding-right: 0.5rem;
    
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
    
}

.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a{
    /* border: 1px solid; */
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: 0.2rem;
    background-color: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background-color: var(--green);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin: 0.7rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #eee;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color: var(--green);
}

/* Our Footer Section */











/* Media Queries For Responsiveness */
@media (max-width: 991px){
    html {
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }


    section{
        padding: 2rem;
    }
}

@media (max-width: 768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 110%;
        /* right: 2rem; */
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: 0.5rem;
        background-color: #fff;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .header .search-form{
        width: 90%;
    }
}


@media (max-width: 450px){
    html {
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }
}